body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.my-bg-primary {
  background: #E3F3E9;
}

.my-bg-secondary {
  background: #16C79A;
}

.my-color-primary {
  color: #334443;
}

.my-color-secondary {
  color: #16C79A
}

.my-navbar {
  height: 150px;
  padding: 0 130px;
}

.my-company-name {
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 80px;
}

.my-nav-item {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  margin: 0 0 0 30px
}

.my-main-container {
  height: 717px;
  padding: 0 110px;
  position: relative;
}

.my-summary {
  margin-top: 110px;
  width: 515px;
  height: 236px;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 80px;
  /* or 167% */

  letter-spacing: -0.02em;

}

.my-main-description {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
  margin-top: 30px
}